.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.TabStrip {
  display: flex;
  margin-bottom: 40px;
}

.TabStripItem {
  border: 1px solid gray;
  padding: 4px;
  cursor: pointer;
}

.TabStripItem.Selected {
  background: gray;
}

.Grid {
  flex-grow: 1;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid gray;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

tbody tr:nth-child(odd) {
  background-color: #dcdcdc;
}

.SymbolPicker {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.SymbolPickerInput {
  width: 100%;
}

.SymbolPickerAdd {
  margin-top: 6px;
  align-self: flex-end;
  padding: 8px 16px;
}

.Modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.Modal .Content {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ModalPercentageInput {
  align-self: center;
  margin: 20px 0;
}

.ModalCloseButton {
  align-self: flex-end;
}

.Alerts {
  display: flex;
}

.Notification {
  border: 1px solid gray;
  padding: 20px;
}

.Title {
  display: flex;
}

.Title .Text {
  flex-grow: 1;
}

.CloseIcon {
  background: gray;
  padding: 8px;
  cursor: pointer;
}
